.scoreCont {
  text-align: center;
}
.puntuation, .distanceCont, .amountCont {
  width: 100%;
  display: flex;
    flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.puntuation p {
  margin: 0px 40px;
  font-size: 3em;
}
.scoreCont p {
  margin: 0px 40px;
  font-size: 2em;
}